.Produkt {
    display: flex;
    justify-content: center;
    gap: 29px;
}


.Produktbeschreibung {
    max-width:300px;
}
.inverse {
    flex-direction: row-reverse;
}

.herumliegend {
    display: flex;
    flex-direction: column;
    
}

.herumliegend hr {
    width: 650px;
    color: rgba(0, 0, 0, 0.5);
}


.button {
    font-family: inherit;
    background-color: #444;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  }
  
  .button:hover {
    cursor: pointer;
    opacity: 0.75;
  }




.user {
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-style: solid;
    width: 250px;
}


.freundesanzeige {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    grid-auto-flow: dense;

}